body {
    margin: 0em;
    padding: 0em;
    background-color: rgb(0, 0, 0);
}

/* Contenedor principal */

.container-fluid {
    height: 100%;
    background: black;
}

/* Cabecero portada */

.cabeceroPortada {
    background-color: white;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.05em solid rgb(75, 75, 75);
}
.enlacesCarta {
    background: linear-gradient(rgb(46, 46, 46), black, rgb(32, 32, 32));
    display: flex;
    align-items: center;
    justify-content: center;
}
.enlaces {
    border-right: 0.05em solid rgb(75, 75, 75);
    border-left: 0.05em solid rgb(75, 75, 75);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CUERPO PRINCIPAL*/

.cajaCentralPortada {
    background-image: url(../img/fondoCartaFinal.png);
    background-size: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowfotos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.colfotos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu { 
    width: 15em;
    border: 0.05em solid black;
    padding: 0em;
    border-radius: 0.2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.menu:hover {
    transform: scale(1.5);
    transition: transform 0.8s;
}
/* PIE DE PAGINA */

.piePagina {
    height: 6%;
    display: flex;
}
.colPie {
    background: linear-gradient(rgb(46, 46, 46), black, rgb(32, 32, 32));
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconoCuadradoAPTC {
    height: 2.5em;
    border: 0.1em solid black;
}
.btn-dark {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}
