body {
    margin: 0em;
    padding: 0em;
}

/* Contenedor principal */

.container-fluid {
    height: 100vh;
    background: black;
}

/* CUERPO PRINCIPAL*/

.cajaCentralPortada {
    background-image: url(/img/imagenContacto.jpeg);
    background-size: 100%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactos {
    height: 100%;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datosContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.letras {
    color: white;
}

.letras1 {
    margin-top: 1em;
}

.iconosRedesSociales {
    height: 100%;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook {
    height: 2em;
    border: 0.15em solid black;
    background-color: white;
}

.instagram {
    height: 2em;
    border: 0.15em solid black;
}

.comoLlegar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PIE DE PAGINA */

.piePagina {
    height: 6%;
    display: flex;
}

.colPie {
    background: linear-gradient(rgb(46, 46, 46), black, rgb(32, 32, 32));
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconoCuadradoAPTC {
    height: 2.5em;
    border: 0.1em solid black;
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}