body {
    margin: 0em;
    padding: 0em;
    background-color: rgb(0, 0, 0);
}

/* Contenedor principal */

.container-fluid {
    height: 100vh;
    background: black;
}

/* Cabecero portada */

.cabeceroPortada {
    background-color: white;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconosRedesSociales {
    background: linear-gradient(rgb(46, 46, 46), black, rgb(32, 32, 32));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.1em solid white;
}
.nombreRestaurante {
    background: linear-gradient(rgb(46, 46, 46), black, rgb(32, 32, 32));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconoAPTC {
    height: 3em;
}
.facebook {
    background-color: white;
    height: 2em;
    animation: alternate;
}
.instagram {
    height: 2em;
}

/* CUERPO PRINCIPAL*/

.cajaCentralPortada {
    background-image: url(/img/FondoPrincipal.jpeg);
    background-size: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    width: 45em;
}
.imgCarrusel {
    border: 0.1em solid black;
}

/* PIE DE PAGINA */

.piePagina {
    height: 6%;
    display: flex;
}
.colPie {
    background: linear-gradient(rgb(46, 46, 46), black, rgb(32, 32, 32));
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconoCuadradoAPTC {
    height: 2.5em;
    border: 0.1em solid black;
}
.btn-dark {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

