body {
    margin: 0em;
    padding: 0em;
    background-color: aqua;
}

/* Contenedor principal */

.container-fluid {
    height: 100vh;
    background: white;
}

/* Cabecero portada */

.cabeceroPortada {
    background-color: aquamarine;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconosRedesSociales {
    background-color: rgb(9, 81, 57);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreRestaurante {
    background-color: rgb(15, 164, 114);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CUERPO PRINCIPAL*/

.cajaCentralPortada {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carouselExampleIndicators {
    position: fixed;
    height: 25em;
    width: 50em;
    margin-bottom: 25em;
}
.d-block {
    border: 0.05em solid black;
    border-radius: 0.2em;
}

/* PIE DE PAGINA */

.piePagina {
    height: 6%;
    display: flex;
}
.colPie {
    background: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}


